variables:
  DOCKER_REGISTRY: glregistry.blockstream.io
  DOCKER_IMAGE: $DOCKER_REGISTRY/satellite/bitcoinsatellite:latest

builder:
  image: docker
  stage: .pre
  only:
    changes:
      - docker/builder.docker
      - depends/**/*
  script:
    - docker build -f docker/builder.docker -t $DOCKER_IMAGE .
    - echo "$CI_BUILD_TOKEN" | docker login -u gitlab-ci-token --password-stdin $DOCKER_REGISTRY
    - docker push $DOCKER_IMAGE

test:
  image: $DOCKER_IMAGE
  stage: test
  script:
    - set -e
    - ./autogen.sh
    - ./configure --disable-wallet --enable-debug --with-gui=no
    - make -j$(nproc)
    - ./src/test/test_bitcoin

xcompile-aarch64:
  image: $DOCKER_IMAGE
  stage: build
  script:
    - set -e
    - ./autogen.sh
    - ./configure --disable-wallet --prefix=/src/depends/aarch64-linux-gnu --enable-glibc-back-compat --enable-reduce-exports LDFLAGS=-static-libstdc++
    - make -j$(nproc) CXXFLAGS='-g -O2 -DLINUX_ARM -DHAVE_ARM_NEON_H'
  only:
    refs:
      - web
  artifacts:
    paths:
      - src/bitcoind
      - src/bitcoin-cli

xcompile-armhf:
  image: $DOCKER_IMAGE
  stage: build
  script:
    - set -e
    - ./autogen.sh
    - ./configure --disable-wallet --prefix=/src/depends/arm-linux-gnueabihf --enable-glibc-back-compat --enable-reduce-exports LDFLAGS=-static-libstdc++
    - make -j$(nproc) CXXFLAGS='-g -O2 -DLINUX_ARM'
  only:
    refs:
      - web
  artifacts:
    paths:
      - src/bitcoind
      - src/bitcoin-cli
